<!-- Contact Section Begin -->
<section class="contact spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <span>Product</span>
            <h2>Edit this Product</h2>
            <p>
              As you might expect of a company that began as a high-end interiors contractor, we pay
              strict attention.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="/edit-product/:<%= product._id %>" method="POST">
            <div class="row">
              <div class="col-lg-12">
                <select name="categoryId" id="categoryId">
                  <% for(let category of categories) {%>
                  <option value="<%= category._id %>"><%= category.title %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-lg-12">
                <input type="text" placeholder="title" name="title" value="<%= product.title %>" />
              </div>
              <div class="col-lg-12">
                <input
                  type="number"
                  placeholder="price"
                  name="price"
                  value="<%= product.price %>"
                />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Description" name="description">
                <%= product.description %>
                </textarea>
                <a href="/shop" class="site-btn" style="color: #fff">Cancel</a>
                <button type="submit" class="site-btn">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
